/__pycache__/
/.venv/
/.idea/
.venv/
.idea/
Practicas/02_Practica2_Simulador_Cajero/misti-cajero-automatico/.git
Practicas/02_Practica2_Simulador_Cajero/misti-cajero-automatico/.idea/
Practicas/02_Practica2_Simulador_Cajero/misti-cajero-automatico/.gitignore
Trabajo_Invidual/